html{  /* tzw. root html*/     font-size: 62.5%; /* jak tutaj to zdefiniujemy
to możemy sobie manewrowac czcionką dowolnie zmieniamy a pozostałe elementy
zmieniaja się proporcjonalnie*/ }

body{
	margin: 0px;
	padding: 0px;

	font-family: 'Josefin Sans', sans-serif;
	color: #37474F;
	font-size: 1.6rem; /*wychodzi 16px */
}

/* ROBIMY HAMBURGER MENU Z 3 KRESKAMI */
.hamburger{
	width: 3rem;
	height: 1.75rem;
	border: 0;
	background: transparent; /* czyści domyslne tło buttona*/
	border-top: 0.4rem solid #FFFFFF; /*góra hamburgera*/
	position: relative; /*wzgledem dziecka*/
	transition: 0.3s transform linear; /* ile trwa animacja, co animujemy, jaki rodzaj animacji*/
	}
.hamburger::after, .hamburger::before{ /* uzywamy pseudo elementów że zrobic reszte hambuksa, to są dzieci klasy: .hamburger*/
    content: '';
    position: absolute; /*względem rodzica*/
    top: 0;
    left: 0;
    width: 100%;
    border-top: 0.4rem solid #FFFFFF; /*terz nachodzą na siebie z góra hamburgera ale poprawimy to niżej*/
}
.hamburger::after{ /*dól hamburgera*/
	transform: translateY(1.2rem); /*przesuwamy na dół, ale tak zeby pomieściło się w kontenerze*/
	transition: 0.3s transform linear; /* ile trwa animacja, co animujemy, jaki rodzaj animacji*/
}

.hamburger::before{ /*środek hamburgera*/
	transform: translateY(0.4rem);
}

/*EFEKT ANIMACJI HAMBURGERA*/



.nav-opened .hamburger:focus{ /* jeśli kliknie i nie odkliknie nic innego to bedzie tak wyglądał*/
	transform: rotate(45deg) translateX(-0.5rem) translateX(0.5rem);/*zeby nie uciekał w lewo*/
	border: none; /* usuwa tylko góre hamburgera, bo jest ona na głównym buttonie, a nie pseudoobiektach*/
}
.nav-opened .hamburger:focus:after{
	transform: rotate(-90deg) translateX(-0.425rem);
}




/*------------------------------------------------------*/


.page-header{
	position:absolute; /*nagłówek artytkulu z dołu dojedzie do góry*/
	width: 100%;
	box-sizing: border-box; /* wlicza nam padding w szerokośc 100%, a nie szerokośc 100% + padding*/
	padding-top: 2.8rem;
	padding: 2rem;
}
.page-header .page-logo{
	width: 15rem;
	border-radius: 3rem;
}

.page-header .hamburger{
	position: absolute;
	right: 2.5rem;
	top:2.5rem;
	
}
.page-nav .nav-menu{
	display: none;
	padding:0;
	padding-top: 1rem;
	margin:0;
	text-align: center;
}

.nav-menu{
	list-style: none;
}

.page-nav .nav-menu li a{
	color: #000000;
	text-decoration: none;
}

.page-nav .nav-menu li{
	border-bottom: 1px solid #E6E6FA;
	padding: 1.6rem 0;
	font-size: 1.8rem;

}
.page-nav .nav-menu li.sign-up{
	border: 0;
	margin-top: 2rem;
}
.page-nav .nav-menu li.sign-up a{
	border: 2px solid #87CEFA;
	border-radius: 2rem;
	padding: 1rem 2rem 1rem 2rem;

}
.page-header.nav-opened { /* jak beda aktywne w tym samym czasie*/
	background-color: #FFFFFF;
	box-shadow: 0px 9px 17px 0px rgba(26,43,128,1);
}
.page-header.nav-opened .page-nav .hamburger{
	border-top-color: #000000;
}
.page-header.nav-opened .page-nav .hamburger::after{
	border-top-color: #000000;
	}
.page-header.nav-opened .page-nav .hamburger::before{
	border-top-color: #000000;
}
.page-header.nav-opened .page-nav .nav-menu{
	display: block;
}

.page-header.nav-opened .expand-menu{
	list-style: none;
	padding: 0;
}
.page-header.nav-opened .expand-menu li a{
	color: #00BFFF;
}

.article-header{
	box-sizing: border-box;

	background: url(image/tlo.jpg) no-repeat;
	background-size: cover;
	background-position: 50%;
	color: #FFFFFF;
	text-align: center;
	min-height: 50vh; /* 50% viewport*/

	padding: 2rem;
	padding-top: 12rem;
}
.article-title{
	margin:0;
	font-weight: normal;
}
#author-img{
	width: 7rem;
	border-radius: 5px 20px 5px;
	margin-top: 4rem;
	margin-bottom: 1.4rem;
}

.article-header div{
	padding: 0;
	margin: 0;
}

.article-header div p{
	padding: 0;
	margin: 0;
	text-align: center;
}
.article-header div time{
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 1.1rem;
}
.author-name{
	color: #BBBBBB;
	font-size: 1.3rem;
}
.author-name::after{
	content:'\002620';  /*encje :)*/
	display:block; /* blokowe zawsze ustawiaja sie domyslnie w nowej linii*/
	color: #FFFFFF;
}
.article-pic img{
	max-width: 100%;
	margin:0;
	padding: 0;
}
article figure.article-pic{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 1rem;
	margin:0;
}
article figure figcaption{
	text-align: center;
	padding-top: 0.7rem;
	padding-bottom: 1rem;
	color: #78909C;
}
.text{
	padding: 1.5rem;
	box-sizing: border-box;
}
.text p{
	margin-top: 3rem;
}
.second_part_article{
	border-top:1px solid #000000;
}
.second_part_article h3{
	padding:2rem;
	margin:0px;
}

.page_footer{
	text-align: center;
	background-color: #F5F5DC;
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.page_footer_menu{
	list-style: none;
	padding:0;
	margin: 0;
}
.page_footer_menu li{
	display: block;
	padding: 1rem 0;
	font-size: 1.7rem;
}
.page_footer_menu li a{
	text-decoration: none;
	color: #00B7EB;
}
.copyright{
	margin: 0px;
}



/* -- ------------------------------------------------------------------------ 	*/

@media (min-width: 45rem)
{

	.page-header{
		left: 0;
		right: 0;
	}
	
	.hamburger{
		display: none;
	}
	.page-nav .nav-menu{
	position: absolute;
	right: 0;
	top:0;
	display: inline-block;
	padding:0;
	margin:0;
	text-align: center;
}



.page-nav .nav-menu > li > a{
	color: #ffffff;
	text-decoration: none;
}
.page-nav .nav-menu>li{
	width: 14rem;

	font-size: 1.8rem;
	border:none;
	float: left;
	padding-top: 3rem;

}
.page-nav .nav-menu li.sign-up{
	margin-top: 0;
	width: 15rem;

}
.page-nav .nav-menu li.sign-up a{
	border: 2px solid #87CEFA;
	border-radius: 2rem;
	padding: 1rem 2rem 1rem 2rem;
	box-sizing: border-box;

}

.expand-menu{

	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;

	min-width: 15rem;
	background-color: #ccffff;

}
.expand-menu li{
	display: block;
	padding:0.5rem 2rem;
	border-bottom: 1px solid #0052cc;
}
.expand-menu li:last-child{
	border-bottom: none;
}


.expand-menu li a{
	font-size: 1.6rem;
	color: #ffffff;
}

.expand-menu.exp-menu-opened{
	display: block;
}

}

@media (min-width: 40em){
	

.article-pic img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
article figure.article-pic{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 1rem;
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
}
.article-content{
	max-width: 102rem;
	margin-right: auto;
	margin-left: auto;
}
.page-header{
	max-width: 102rem;
	margin-left: auto;
	margin-right: auto;
}
}